@charset "utf-8";

/***************
  header-commmon
****************/

.header-navi ul li {
  border-right: 1px #CCC solid;
  color: #87CEEB;
}

.header-navi ul li:nth-child(1) {
  border-left: 1px #CCC solid;
}

.header-navi ul li:hover{
  color: #6495ED;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header .router-link-active {
  margin: 0 auto;
}

.header img {
  width: 100%;
  margin: 0 auto;
}

.header-navi {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.header-navi ul {
  overflow: hidden;
  padding-left: 0;
  list-style-type: none;
  width: 100%;
  padding: 0 !important;
  margin: 0 auto;
  text-align: center;
}

.header-navi ul li {
  padding-top: 9px;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  width: 180px;
  height: 25px;
  text-align: center;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.main-ad {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/***************
  header-large
****************/

@media (max-width: 1140px) {
  .header {
  }


  .header-navi ul li {
    font-size: 12px;
    width: 180px;
    height: 25px;
  }
}

/***************
  header-medium-large
****************/

@media (max-width: 970px) {
  .header {
  }


  .header-navi ul li {
    font-size: 12px;
    width: 150px;
    height: 25px;
  }
}

/***************
  header-medium
****************/

@media (max-width: 768px) {
  .header {
  }


  .header-navi ul li {
    font-size: 12px;
    width: 100px;
    height: 25px;
  }
}

/***************
  header-medium-min
****************/

@media (max-width: 570px) {
  .header {
  }


  .header-navi ul li {
    font-size: 12px;
    width: 90px;
    height: 25px;
  }
}


/***************
  header-min
****************/

@media (max-width: 480px) {
  .header {
  }


  .header-navi ul li {
    font-size: 12px;
    width: 80px;
    height: 25px;
  }
}

/***************
  header-min
****************/

@media (max-width: 420px) {
  .header {
  }


  .header-navi ul li {
    font-size: 12px;
    width: 70px;
    height: 25px;
  }
}
