@charset "utf-8";

/***************
  main-commmon
****************/

/***** .bd *****/
.bd-orange {
  border-left: 4px solid orange;
}

.bd-yellow {
  border-left: 4px solid #FFCC00;
}

.bd-green {
  border-left: 4px solid lightgreen;
}

.bd-blue {
  border-left: 4px solid skyblue;
}

/***** .sentence *****/
.sentence {
  margin: 10px;
}

.sentence a:link{
  text-decoration: underline;
  color: blue;
}

.sentence a:visited{
}

.sentence a:hover{
  color: red;
}

.sentence a:active{
  color: red;
}

/***** .construct *****/
.construct {
  overflow: hidden;
  width : 960px;
  margin: 0 auto;
}

/***** .container *****/
.container {
  width : 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f9f9f9;
}

.contents {
  width: 630px;
  margin: 0 auto;
  overflow: hidden;
}

/***** .slide-img *****/
.slide-img {
  width: 630px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.slide-img-box {
  width: 100%;
  height:100%;
}

.slide-img-box img{
  width: 80%;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  display: block;
  margin: 10px auto;
}

ul.swiper-wrapper {
  width: 100%;
  margin: 10px auto;
  padding: 0;
}

.swiper-wrapper li {
  list-style: none;
  width: 100%;
  margin: 10px auto;
}

/***** .topics *****/
.topic-parent {
  width: 100%;
  margin: 15px auto;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.topics {
  display: inline-block;
  width: 250px;
  height: 170px;
  margin: 20px;
  padding: 0;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.topics a{
  margin: 20px;
  background-color: #f9f9f9;
}

.topics .img-box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  vertical-align: bottom;
  display: block;
  margin: 0 auto;
}

.topics img {
  width: 70px;
  height: 70px;
}

.topics div.discription {
  width: 250px;
  height: 20px;
  margin: 5px auto;
}

.topics div.discription p{
  text-align: center;
  font-size: 12px;
}

.topics div.discription h5{
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

/***** .main *****/
.main {
  float: left;
  width: 630px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.main-title {
  text-align: center;
}

/***** .article *****/
.article-date {
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 3px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.article-title h1 {
  margin: 10px;
  text-shadow: 1px 1px 1px #999999;
  text-align: left;
}

.article-title {
  text-align: center;
  border-bottom: 1px dotted orange;
  margin: 5px;
}

/***** .small-width ******/
.small-width {
  display: none;
}

/***** twitter *****/
.twitter-widget {
  width: 630px;
}

.twitter-widget #twitter-widget-0{
  width: 600px;
}

.twitter-widget #twitter-widget-1{
  width: 600px;
}


/***************
  main-large
****************/

@media (max-width: 1140px) {

}

/***************
  main-medium-large
****************/

@media (max-width: 970px) {

}

/***************
  main-medium
****************/

@media (max-width: 768px) {

  .construct {
    width : 95%;
  }

  .contents {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .slide-img {
    width: 100%;
  }

  .small-width {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .small-width section{
    background-color: #fff;
    width: 100%;
    margin: 10px 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1); 
  }

  .small-width section h2{
    margin: 0 auto;
    width: ;
    color: #fff;
    background-color: #333;
    text-align: center;
    border-left: 6px solid orange;
  }

}

/***************
  main-medium-min
****************/

@media (max-width: 600px) {

  .topics {
    width: 190px;
  }

  .topics .img-box {
    width: 70px;
    height: 70px;
  }

  .topics img {
    width: 70px;
    height: 70px;
  }

  .topics div.discription {
    width: 190px;
  }

  .topics div.discription h5{
    width: 190px;
  }

}


/***************
  main-min
****************/

@media (max-width: 480px) {
  .topics {
    width: 90%;
    margin: 5px;
  }
/*
  .topics .img-box {
    width: 70px;
    height: 70px;
  }

  .topics img {
    width: 70px;
    height: 70px;
  }
*/
  .topics div.discription {
    width: 90%;
  }

  .topics div.discription h5{
    width: 90%;
  }
}

/***************
  main-minmum
****************/

@media (max-width: 420px) {

}


